.block-local-tasks-block {
  position: fixed;
  right: 0;
  z-index: 1000;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
  @extend .bgc-primary;
  @extend .bgt-dark;

    .tabs {
      li {
        display: block;
        float: none;

        a:hover,
        a.is-active{
          @extend .bgt-light;
        }
      }
    }
}
