@function calculateRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin rem($size) {
  font-size: #{$size}px; //Fallback in px
  font-size: calculateRem($size);
}
@mixin hide-text {
  text-indent: -9999px;
  font: 0/0 arial;
  color: transparent;
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}


